{% extends "layout.html" %}

{% block title %}{{ category }}{% endblock %}

{% block body %}
    <h1>Lektiehjælpsforum</h1>

    <h3>Valgt kategori: {{ category }}</h3>

    <a href="/lektiehjælp">Fjern kategori søgning</a>
    <!-- Filter options for viewing posts -->
    <form action="/lektiehjælp/{{ category }}" method="get" style="margin-bottom: 10px;">
        <input type="hidden" name="search" id="search" value="{{ request.args.get('search') }}">
        <label>Vis opslag:</label>
        <input type="radio" name="searchcriteria" value="random" {% if request.args.get('searchcriteria') == 'random' %}checked{% endif %} onchange="this.form.submit()"> Tilfældige
        <input type="radio" name="searchcriteria" value="newest" {% if request.args.get('searchcriteria') == 'newest' %}checked{% endif %} onchange="this.form.submit()"> Nyeste
        <input type="radio" name="searchcriteria" value="popular" {% if request.args.get('searchcriteria') == 'popular' %}checked{% endif %} onchange="this.form.submit()"> Flest kommentarer
    </form>

    <div style="display: flex; align-items: flex-start; gap: 20px;">
        <!-- Categories Table -->
        <div>
            <h2>Kategorier</h2>
            <table border="1">
                <thead>
                    <tr>
                        <th>Kategori</th>
                    </tr>
                </thead>
                <tbody>
                    {% for cat in categories %}
                    <tr>
                        <td><a href="/lektiehjælp/{{ cat.name }}">{{ cat.name }}</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <div style="flex-grow: 1;">
            {% if session["user_id"] %}
                <a href="/lektiehjælp/writepost">Skriv et opslag</a>
            {% endif %}
            <form action="/lektiehjælp/{{ category }}" method="get">
                    <input autocomplete="off" type="text" id="search" class="form-control" name="search" placeholder="Søg efter opslag tekst i denne kategori" value="{{ request.args.get('search') or '' }}">
                    <input type="hidden" name="searchcriteria" value="random">
            </form>
        </div>
    </div>

    <div class="posts-container">
        {% include "posts.html" %}
    </div>
{% endblock %}