{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block body %}
    <div class="login-container">
        <h3>Log In</h3>
        <form action="/login" method="post">
            <label for="email">Email</label>
            <input autocomplete="off" autofocus id="email" name="email" placeholder="Enter your email" type="text" required>
            
            <label for="password">Password</label>
            <input id="password" name="password" placeholder="Enter your password" type="password" required>
            
            <!-- Uncomment this if needed -->
            <!-- <label>
                Remember me: <input type="checkbox" name="remember_me">
            </label> -->
            
            <button type="submit">Log In</button>
        </form>
        <a href="/signup" class="signup-link">Don't have an account? Sign up</a>
    </div>
{% endblock %}
