{% extends "layout.html" %}

{% block title %}Min konto{% endblock %}

{% block body %}
    <h1>Min konto</h1>
    {% if message %}
        <p style="color: rgb(15, 163, 15);">{{ message }}</p>
    {% endif %}
    <p>Hello, {{ username }}</p>
    <form action="/myaccount" method="post">
        <input type="hidden" name="form_type" value="username_change">
        <p>Skift brugernavn:</p>
        <input type="text" name="newusername" id="newusername" placeholder="Ny brugernavn" required>
        <input type="text" name="password" id="password" placeholder="Password" required>
        <button type="submit">Skift brugernavn</button>
    </form>
    <form action="/myaccount" method="post">
        <input type="hidden" name="form_type" value="password_change">
        <p>Skift password:</p>
        <input type="text" name="oldpassword" id="oldpassword" placeholder="Gammel password" required>
        <input type="text" name="newpassword" id="newpassword" placeholder="Ny password" required>
        <input type="text" name="confirmpassword" id="confirmpassword" placeholder="Bekræft password" required>
        <button type="submit">Skift password</button>
    </form>
    <form action="/myaccount" method="post">
        <input type="hidden" name="form_type" value="account_delete">
        <p>Slet konto</p>
        <input type="text" name="password" id="password" placeholder="Password" required>
        <button type="submit">Slet konto</button>
    </form>

    {% if posts %}
        {% include "posts.html" with posts=posts %}
    {% else %}
        <p>Du har ikke skrevet nogle offentlige beskeder.</p>
    {% endif %}
{% endblock %}