{% extends "layout.html" %}

{% block title %}Private Beskeder{% endblock %}

{% block body %}
    {% if messages and messages[0].username == "None" %}
        {% for message in messages %}
            <div>
                <p><strong><a href="/privatemessages/{{message.username}}">{{ message.username }}</a></strong>: {{ message.message }}</p>
                <p><small>{{ message.latest_date }}</small></p>
            </div>
        {% endfor %}
    {% else %}
        <p>Ingen beskeder :&#40; Vil du gerne skrive til en?</p>
        <a href="privatemessages/write">Skriv en privat besked til en person</a>
    {% endif %}
{% endblock %}